*{
    margin: 0 auto;
    padding: 0 auto;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    width:100%;
    overflow-x: hidden;
}
header{
    padding: 20px;
    height: 10%;
    text-align: center;
    background: url(../img/portadaColores2.png);
    color: white;
    font-size: 30px;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center; 
    align-items: center;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
    color: purple;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
#home1 section{
    flex: 30%;
    width: 550px;
    background-color: white;
    padding: 20px;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 80px;
    
}
#empresa1 section{
    flex: 30%;
    width: 600px;
    float: left;
    padding: 20px;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 25px;
}
#empresa1 aside{
    flex: 30%;
    width: 600px;
    float: right;
    padding: 20px;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 25px;
}


section h2{
    text-align: center;
    font-size: 30px;

}
.seccion-productos{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.productos{
    width: 300px;
    height: 500px;
    border: 2px solid purple;
    padding: 10px;
    margin: 20px;
}
.productos img{
    width: 190px;
    display: flex;
    margin-left: 45px;
}
.productos h9{
    font-size: 25px;
    margin-left: 90px;
}
.productos p{
    font-size: 18px;
    margin-left: 5px;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    text-align: center;
}
 .row section{
    flex: 70%;
    background-color: white;
    padding: 20px;
}
 
.caja{
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
}
#home1 aside{
    flex: 30%;
    float: right;
    margin-left: 80px;
  

} 
#imagenIndex img{
    height: 700px;
    width: 550px;
    
}
#imagenEmpresa1 img{
    height: 350px;
    width: 350px;
    margin-left: 70px;
}

#imagenEmpresa2 img{
    height: 350px;
    width: 350px;
    margin-left: 70px;
}