*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    padding: 20px;
    height: 10%;
    text-align: center;
    background: url(../img/portadaColores2.png);
    color: white;
    font-size: 30px;
}


nav{
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: purple ;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    width: 25%;
}
nav a:hover{
    background-color: purple;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
section{
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: justify;
}

section img{
    width: 50%;
    align-content:center;
}
section div{
    padding: 5px;
    align-content: center;
}
form{
    text-align: center;
}
form label{
    font-size: 200% auto;
    font-weight: bold;
}
form textarea{
    font-size: large;
}
form input{
    font-size: large;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    text-align: center;
}
#productos{
    flex-wrap: wrap;
}
#admin{
    background-color: black;
    color: white;
    flex-wrap: wrap;
}
#botones button{
    font-size:large;
    font-weight: bold;
}
#botones  button:hover{
    background-color: purple;
    color: white;
}

@media screen and (max-width: 700px){
    nav, .row, section{
        flex-direction: column;
    }
    nav a{
        width: 100%;
    }
}
.texto2{
    padding-right: 10%;
}

#bton1{
 background-color: purple;
 font-size: larger;
 font-weight: bold;
}
#bton1:hover{
    background-color:purple;
    color: white;
}

